<!DOCTYPE html>
<html lang = "en">
    <head>
        <mata charset = "UTF-8">
            <meta name = "viewport" content="width = device-width, initial-scale= 1.0">
            <title>MSproject Application</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="../assets/css/style.css">
    </head>
    <body>
    <!--Header-->
    <header id = "header">
        <nav>
            <div class = "container">
                <div class ="text-center">
                    <a href="/" class = "nav-brand text-dark"> About</a>
                </div>
            </div>
        </nav>
    </header>
    <!--/Header-->

    <title><%= title %></title>
  </head>
<body class="index-page sidebar-collapse">
    <div class="wrapper"><br>
        <div class="main">
            <div class="section section-basic">
                <div class="container">
                      <h2>About</h2>
                      <hr color="orange"> 
                <br>
                <div class="col-md-12">
                <br>
            
                <div class="panel panel-success panel-size-custom">
                        <div class="panel-body">
<div class="about-section">
  <h1><%=About Us Page %></h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

        </div>

    </div>
</body>


</html>