<!--include header-->
<%-include('include/_header')%>

<!--/include header-->

    <!--main-->
    <main id = "site-main">
        <div class = "container">
            <div class = "box-nav d-flex justify-between">          
                <div class = "filer">
                    <a href = "/"><i class = "fas fa-angle-bouble-left"></i>All Stores</a>

                </div>
            </div>
            <div class =  "form-title text-center">
                <h2 class = "text-dark"><New Store</h2>
                    <span class = "text-light">Create New store</span>
            </div>

            <!--add storeform-->
            <%-include('include/_form')%>
        </div>
    </main>
<!--/main-->

<!--include footer-->
<%-include('include/_footer')%>

<!--/include footer-->